<%- include('partials/header'); %>

<!--  BEGIN CONTENT PART  -->
<div id="content" class="main-content">
  <div class="layout-px-spacing">
    <div class="row layout-top-spacing">
      cateogies
    </div>
  </div>
  <%-include('partials/footer');%>
</div>